<h1>Список заказов</h1>

<table>
  <thead>
    <tr>
      <th>Номер заказа</th>
      <th>Сумма (руб.)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.num %></td>
        <td><%= number_to_currency(order.cart_items_sum, locale: :ru) %></td>
        <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
