<h1>Оформление заказа</h1>

<p>
  Проверьте список товаров и подтвердите создание заказа или вернитесь в корзину для её редактирования
</p>

<%= render 'carts/cart_details' %>

<%= render 'form' %>

<%= link_to 'Вернуться в корзину', session_cart_path %>
