<table class="carts">
  <%= render(@cart.cart_items) %>

  <tr class="total_line">
    <td colspan="3">Итого:</td>
    <td class="total_cell">
      <%= number_to_currency(@cart.cart_items_sum, locale: :ru) %>
    </td>
  </tr>
</table>
