<h2>Корзина</h2>

<%= render 'cart_details' %>

<%= button_to 'Оформить заказ', new_order_path, method: :get %>
<%= button_to 'Очистить корзину', @cart, method: :delete,
  data: { confirm: 'Вы уверены?' } %>
