<h1>Каталог товаров</h1>
<% @items.each do |item| %>
  <div class="entry">
    <%= image_tag(item.img_url) %>
    <h3><%= item.name %></h3>
    <%= sanitize(item.desc) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(item.price, locale: :ru) %></span>
      <%= button_to 'В корзину', cart_items_path(item_id: item), remote: true %>
    </div>
  </div>
<% end %>
