<tr>
  <td class="edit_actions">
    <% if current_page?(session_cart_path) %>
      <%= button_to '-', cart_item_path(cart_item), method: :delete, remote: true %>
      <%= button_to '+', cart_items_path(item_id: cart_item.item_id), remote: true %>
    <% end %>
  </td>
  <td><%= cart_item.quantity %>&times;</td>
  <td><%= cart_item.item.name %></td>
  <td class="item_price"><%= number_to_currency(cart_item.total_price, locale: :ru) %></td>
  <td class="edit_actions">
    <% if current_page?(session_cart_path) %>
      <%= button_to 'Удалить', cart_item_path(cart_item, remove: true), method: :delete, remote: true %>
    <% end %>
  </td>
</tr>
