$('#cart').html("<%= escape_javascript render(@cart) %>");

if ($('#cart').is(':hidden')) { $('#cart').fadeIn('slow'); }

$('#total_sum').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
