<h1>Товары</h1>

<table>
<% @items.each do |item| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(item.img_url, class: 'list_img') %>
    </td>
    <td class="list_desc">
      <dl>
        <dt><%= item.name %></dt>
        <dd><%= truncate(strip_tags(item.desc), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_acts">
      <%= link_to 'Показать', item %><br/>
      <%= link_to 'Изменить', edit_item_path(item) %><br/>
      <%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Вы уверены?' } %>
    </td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to 'Новый товар', new_item_path %>
