<table>
  <tr>
    <td><strong>Наименование</strong></td>
    <td><strong>Описание</strong></td>
    <td><strong>Изображение</strong></td>
    <td><strong>Цена</strong></td>
  </tr>
  <tr>
    <td><%= @item.name %></td>
    <td><%= @item.desc %></td>
    <td><%= image_tag(@item.img_url, class: 'list_img') %></td>
    <td><%= @item.price %></td>
  </tr>
</table>

<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Назад', items_path %>
