// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_img {
    width: 100px;
    height: 100px;
  }

  .list_desc {
    width: 70%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_acts {
    font-size: small;
    text-align: right;
    padding-left: 1.5em;
  }

  .list_line_even {
    background: #9eceeb;
  }

  .list_line_odd {
    background: #f0f0f0;
  }
}
