<!DOCTYPE html>
<html>
<head>
  <title>e-Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="header">
    <%= image_tag("logo.png") %>
    <%= @page_title || "eShop" %>
    <% if @cart %>
      <%= hidden_div_if(@cart.cart_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
    <% end %>
  </div>
  <div id="columns">
    <div id="sidebar">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><%= link_to 'Заказы', orders_path %></li>
        <li><%= link_to 'Товары', items_path %></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
      <%= render 'layouts/notices' %>
    </div>
  </div>
</body>
</html>
